<html>
  <head>
    <title>Select Test Subject</title>

  </head>
  <body>

    <form method="get" action="{% url 'quiz:record' %}">


           {% for x in myelements %}
           <br><br>

           {{ x.id }}.  {{x.question}}
            <br><br>
        <table width="50%">
            
            <input type="hidden" value="{{x.id}}" name="id_text"> 
            <input type="hidden" value="{{score}}" name="score">
            <tr>
                <td><input type="radio" name="op_{{ x.id }}" value="option a"><b> a. </b>{{x.option_1}}</td>
                <td><input type="radio" name="op_{{ x.id }}" value="option b"><b> b. </b>{{x.option_2}}</td>
                <td><input type="radio" name="op_{{ x.id }}" value="option c"><b> c. </b>{{x.option_3}}</td>
                <td><input type="radio" name="op_{{ x.id }}" value="option d"><b> d. </b>{{x.option_4}}</td>
                
            </tr>
        </table><br><br>
            {% if x.id >= 8 %}
            <button type="submit" name="submit2" value="save"> SAVE</button>
            {% else  %}
            <button type="submit" name="submit1" value="next"> NEXT</button>
            {% endif %}
            {% endfor %}
       

    </form>
  </body>
</html>